<ion-header class="ion-no-border" mode="ios" color="secondary">
  <ion-toolbar class="ion-no-border" mode="ios" color="secondary" class="ion-text-center">
    <ion-title>Producto recomendado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <div class="container">
    <ion-card mode="ios" color="light">
      <ion-card-header color="light">
        <ion-card-subtitle>Syngenta</ion-card-subtitle>
        <ion-card-title>Peak</ion-card-title>
      </ion-card-header>
    
      <ion-card-content color="light">
        <img src="../../../assets/img/peak.png" alt="foto del producto" class="producto_photo">
        <ion-text color="secondary">
          Keep close to Nature's heart... and break clear away, once in awhile,<br>
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer class="ion-no-border" color="secondary" mode="ios">
  <ion-toolbar class="ion-no-border" color="secondary" mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="salir()">
        <ion-icon slot="start" name="close-circle-outline"></ion-icon>
        Cancelar  
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="salir()">
        <ion-icon slot="end" name="cart-ouline"></ion-icon>
        Comprar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>