<ion-header class="ion-no-border" mode="ios" color="secondary">
  <ion-toolbar class="ion-no-border" mode="ios" color="secondary" class="ion-text-center">
    <ion-title>Producto recomendado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <div class="container">
    <ion-card mode="ios" color="light">
      <ion-card-header color="light">
        <ion-card-subtitle>Syngenta</ion-card-subtitle>
        <ion-card-title>Peak</ion-card-title>
      </ion-card-header>
    
      <ion-card-content color="light">
        <ion-img src="../../../assets/img/peak.png" alt="foto del producto" class="producto_photo"></ion-img>
        <ion-text color="dark">
          <ion-label color="tertiary"><small><i>Herbicida</i></small></ion-label> <br>
          <ion-segment (ionChange)="segmentChanged($event)" value="sunny" color="secondary" mode="md">
            <ion-segment-button value="sunny" color="secondary" mode="md">
              <ion-icon name="document-text-outline" slot="start"></ion-icon>
              <ion-label color="secondary">Producto</ion-label>
            </ion-segment-button>
            <ion-segment-button value="rainy" color="secondary" mode="md">
              <ion-icon name="eyedrop-outline" slot="start"></ion-icon>
              <ion-label color="secondary">Aplicaci&oacute;n</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer class="ion-no-border" color="secondary" mode="ios">
  <ion-toolbar class="ion-no-border" color="secondary" mode="ios" class="ion-text-center">
    <ion-buttons slot="start">
      <ion-button (click)="salir()">
        <ion-icon slot="start" name="close-circle-outline"></ion-icon>
        Cancelar  
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="salir()">
        <ion-icon slot="end" name="cash-outline"></ion-icon>
        Comprar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>