<ion-header class="ion-no-border" mode="ios" color="secondary" [translucent]="true">
  <ion-toolbar class="ion-no-border" mode="ios" color="secondary" class="ion-text-center">
    <ion-title>Producto recomendado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <div class="container">
    <ion-card color="light" mode="ios">
      <ion-grid fixed color="light">
        <ion-row>
          <ion-col size="12">
            <ion-card-header color="light">
              <ion-card-subtitle>Syngenta</ion-card-subtitle>
              <ion-card-title>Peak</ion-card-title>
              <ion-card-subtitle>
                <ion-label color="tertiary">
                    30gr - <ion-chip color="tertiary" mode="ios" outline="true">
                    <ion-label>Herbicidas</ion-label>
                  </ion-chip> - <ion-chip color="tertiary" mode="ios" outline="true">
                    <ion-label>Syngenta</ion-label>
                  </ion-chip>
                </ion-label>
              </ion-card-subtitle>
            </ion-card-header>
          </ion-col>
          <ion-col sizeMd="6" class="ion-text-center">
            <img class="producto_img" src="../../../assets/img/peak.png" alt="">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-segment 
            value="producto"
            [(ngModel)]="segmentModel"
            (ionChange)="segmentChanged($event)"
            mode="md">
            <ion-segment-button value="producto" color="secondary" mode="md">
              <ion-icon name="document-text-outline" color="secondary"></ion-icon>
              <ion-label color="secondary">Producto</ion-label>
            </ion-segment-button>
            <ion-segment-button value="aplicacion" color="secondary" mode="md">
              <ion-icon name="eyedrop-outline" color="secondary"></ion-icon>
              <ion-label color="secondary">Aplicaci&oacute;n</ion-label>
            </ion-segment-button>
          </ion-segment>
          </ion-col>
        </ion-row>
        <ion-row [ngSwitch]="segmentModel">
          <ion-col size="12" *ngSwitchCase="'producto'">
            <div class ="product_info">
              <ion-text mode="ios" class="producto_info-desc" class="ion-text-justify">
                <p>
                  PEAK® 57 WG es un herbicida selectivo para el control post-emergente de la maleza aquí indicada para los cultivos de trigo, cebada, maíz y sorgo. <br>
                PEAK® 57 WG es absorbido por las hojas y translocado a través del sistema vascular de la maleza a su sitio de acción en los puntos de crecimiento del follaje y raíces.
                </p>
              </ion-text>

              <ion-text mode="ios" class="producto_info-desc" class="ion-text-justify">
                <h3>Beneficios</h3>
                <ion-list color="secondary">
                  
                </ion-list>
              </ion-text>

              <ion-text mode="ios" class="producto_info-desc" class="ion-text-justify">
                <h3>Modo de acci&oacute;n.</h3>
                  <p>Contacto.</p>
              </ion-text>
            </div>
          </ion-col>
          <ion-col size="12" *ngSwitchCase="'aplicacion'">
            <div class ="product_info">
              <ion-text mode="ios" class="producto_info-desc ion-text-jusify">
                <h3>Caracteristicas</h3>
              </ion-text>
              <ion-text mode="ios" class="producto_info-desc ion-text-jusify">
                <h3></h3>
              </ion-text>
              <ion-text mode="ios" class="producto_info-desc ion-text-jusify">
                <h3>Recomendaciones</h3>
              </ion-text>
              <ion-text mode="ios" class="producto_info-desc ion-text-jusify">
                <h3>Descargas</h3>
              </ion-text>
            </div>
          </ion-col>
          <ion-col size="12" *ngSwitchDefault>
            <div class="product_info">
              <img src="../../../assets/icon/notfound.svg" alt="no_hay_informacion">
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>

<ion-footer class="ion-no-border" color="secondary" mode="ios">
  <ion-toolbar class="ion-no-border" color="secondary" mode="ios" class="ion-text-center">
    <ion-buttons slot="start">
      <ion-button (click)="salir()">
        <ion-icon slot="start" name="close-circle-outline"></ion-icon>
        Cancelar  
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="addCart()">
        <ion-icon slot="end" name="cash-outline"></ion-icon>
        Lo quiero
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>