<ion-tabs>
  <ion-tab-bar slot="bottom" [color]="cWhite">
    <ion-tab-button tab="home">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Cultivos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="afecciones">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Afecciones</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="productos">
      <ion-icon name="send"></ion-icon>
      <ion-label>Productos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="ayuda">
      <ion-icon name="send"></ion-icon>
      <ion-label>Ayuda</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>