<ion-tabs class="ion-no-border ion-no-margin" color="primary">
  <ion-tab-bar slot="bottom" color="primary" class="ion-no-border ion-no-margin">
    <ion-tab-button tab="home">
      <ion-icon name="nutrition-outline" color ="light"></ion-icon>
      <ion-label color="light">Cultivos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="afecciones">
      <ion-icon name="bug-outline" color ="light"></ion-icon>
      <ion-label color="light">Afecciones</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="productos">
      <ion-icon name="pricetag-outline" color ="light"></ion-icon>
      <ion-label color="light">Tienda</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="ayuda">
      <ion-icon name="help-outline" color ="light"></ion-icon>
      <ion-label color="light">Ayuda</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>