<ion-tabs class="ion-no-border">
  <ion-tab-bar slot="bottom" color="light" class="ion-no-border">
    <ion-tab-button tab="home">
      <ion-icon name="nutrition-outline" color ="secondary"></ion-icon>
      <ion-label color="secondary">Cultivos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="afecciones">
      <ion-icon name="bug-outline" color ="secondary"></ion-icon>
      <ion-label color="secondary">Afecciones</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="productos">
      <ion-icon name="pricetag-outline" color ="secondary"></ion-icon>
      <ion-label color="secondary">Productos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="ayuda">
      <ion-icon name="help-outline" color ="secondary"></ion-icon>
      <ion-label color="secondary">Ayuda</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>