.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.container .maiz_pic{
    width: 100%;
    height: 25%;
    border-radius: 20px;
}

.container .maiz_pic-img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    filter: brightness(0.9);
}
.container .maiz_desc{
    width: 100%;
    height: 70%;
}