<ion-header>
  <ion-toolbar class="ion-text-center" color="secondary" mode="ios">
    <ion-title>Ma&iacute;z</ion-title>
    <ion-buttons slot="start" mode="ios">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-padding">
  <div class="container">
    <picture class="maiz_pic">
      <img src="../../../assets/img/maiz.jpg" alt="maiz" class="maiz_pic-img">
    </picture>
    <div class="maiz_desc">
      <ion-item color="light">
        <ion-label>Plagas</ion-label>
        <ion-select color="light" mode="ios" interface="action-sheet" placeholder="Select One" (ionChange)="verRecomendaciones($event)">
          <ion-select-option *ngFor="let plaga of maizPlagas" [value]="plaga">{{plaga.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
    
      <ion-item color="light">
        <ion-label>Enfermedades</ion-label>
        <ion-select color="light" mode="ios" interface="action-sheet" placeholder="Select One" placeholder="Select One" (ionChange)="verRecomendaciones($event)">
          <ion-select-option *ngFor="let enfermedad of maizEnfermedades" [value]="enfermedad">{{enfermedad.nombre}}</ion-select-option>   
        </ion-select>
      </ion-item>
          
      <ion-item color="light">
        <ion-label>Malezas</ion-label>
        <ion-select color="light" mode="ios" interface="action-sheet" placeholder="Select One" placeholder="Select One" (ionChange)="verRecomendaciones($event)">
          <ion-select-option *ngFor="let maleza of maizMalezas" [value]="maleza">{{maleza.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </div>

</ion-content>
