<ion-header color="secondary">
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center">Carrito de compras</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="salir()">
        <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="vaciarCarrito()">
        <ion-icon name="trash-bin-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-grid fixed>
      <ion-row *ngIf="cartItems.length === 0" >
        <!-- Mensaje de error -->
        <ion-col size="12" class="nothing_msg">
          <picture class="img-warning">
            <img src="../../../assets/icon/void.svg" alt="no hay elemento en el carrito de compras">
          </picture>
          <ion-text color="tertiary" mode="ios">
            <h6><i>Vaya aun no tienes elementos en tu carrito de compra</i></h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="cartItems.length > 0">
        <ion-col>
          <ion-list>
            <ion-item *ngFor="let producto of cartItems" size="12" mode="ios" color="light">
              <div class="productWrapper">
                <div class="productDetail">
                  <ion-label mode="ios" color="dark" class="productDetail_title">{{producto.marca}} - {{producto.presentacion}}</ion-label>
                  <ion-label mode="ios" color="tertiary" class="productDetail_category"><b>{{producto.precio}}</b></ion-label>
                  <ion-label mode="ios" color="tertiary" class="productDetail_provider"><b><small><i>{{producto.existenicas}}</i></small></b></ion-label>
                </div>
                <div class="productOptions">
                  <ion-button expand="block" color="primary" mode="ios">
                    <ion-icon slot="start" name="cart-outline"></ion-icon>
                    Borrar
                  </ion-button>
                  <!-- <ion-button expand="block" color="secondary" mode="ios">
                    <ion-icon slot="start" name="information-circle"></ion-icon>
                    
                  </ion-button> -->
                </div>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
      <!-- <ion-row>
          <ion-col size="5"><b>Productos </b></ion-col>
          <ion-col size="5" offset="2"><b><u>{{cartItems.length}}</u></b></ion-col>
          <ion-col size="5"><b>Subtotal: </b></ion-col>
          <ion-col size="5" offset="2"><b><u>$0.00</u></b></ion-col>
          <ion-col size="5"><b>IVA</b></ion-col>
          <ion-col size="5" offset="2"><b><u>$0.00</u></b></ion-col>
          <ion-col size="5"><b>Total</b></ion-col>
          <ion-col size="5" offset="2"><b><u>$0.00</u></b></ion-col>
          <ion-col size="12">
            <ion-button 
              (click)="comprar()" 
              color="secondary"
              expand="full" 
              mode="ios"
            >
              Iniciar compra
            </ion-button>
          </ion-col>
        </ion-row> -->
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

