<ion-header color="secondary" mode="ios">
  <ion-toolbar color="secondary" mode="ios" class="ion-text-center">
    <ion-title> Tienda </ion-title>
    <ion-icon name="cart-outline" slot="end" color="light"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" class="barra-busqueda">
          <ion-searchbar color="secondary" mode="ios" animated ></ion-searchbar>
          <ion-button  mode="ios" class="ion-text-center" color="secondary" (click)="filtrarProductos()">
            <ion-icon slot="icon-only" name="filter"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-segment
            value="proovedor" 
            scrollable
            [(ngModel)]="segmentModel"
            (ionChange)="ordenarProductos($event)" 
            mode="md">
            <ion-segment-button color="secondary" mode="md" value="herbicidas">
              <ion-label color="secondary">Herbicidas</ion-label>
            </ion-segment-button>
            <ion-segment-button color="secondary" mode="md" value="insecticidas">
              <ion-label color="secondary">Insecticidas</ion-label>
            </ion-segment-button>
            <ion-segment-button color="secondary" mode="md" value="fungicidas">
              <ion-label color="secondary">Fungicidas</ion-label>
            </ion-segment-button>
            <ion-segment-button color="secondary" mode="md" value="bactericidas">
              <ion-label color="secondary">Bactericidas</ion-label>
            </ion-segment-button>
            <ion-segment-button color="secondary" mode="md" value="hormonales">
              <ion-label color="secondary">Hormonales</ion-label>
            </ion-segment-button>
            <ion-segment-button color="secondary" mode="md" value="foliares">
              <ion-label color="secondary">Foliares</ion-label>
            </ion-segment-button>
            <ion-segment-button color="secondary" mode="md" value="biologicos">
              <ion-label color="secondary">Biologicos</ion-label>
            </ion-segment-button>
            <ion-segment-button color="secondary" mode="md" value="coadyuvantes">
              <ion-label color="secondary">Coadyuvantes</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
        <ion-col size="12">
          <ion-list>

            <ion-list>
              <ion-item-sliding>
                <ion-item>
                  <ion-avatar>
                    <img src="../../../assets/img/buscar_asesor.svg" />
                  </ion-avatar>
                  <ion-label>Pokémon Yellow</ion-label>
                </ion-item>
                <ion-item-options side="start">
                  <ion-item-option mode="ios" color="secondary">
                    <ion-icon slot="top" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
                    Detalles
                  </ion-item-option>
                </ion-item-options>
            
                <ion-item-options side="end" color="tertiary">
                  <ion-item-option mode="ios" color="secondary"> 
                    <ion-icon slot="top" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
                    Agregar al carrito 
                  </ion-item-option>
                </ion-item-options>
              </ion-item-sliding>

              <ion-item-sliding>
                <ion-item>
                  <ion-avatar>
                    <img src="../../../assets/img/buscar_asesor.svg" />
                  </ion-avatar>
                  <ion-label>Pokémon Yellow</ion-label>
                </ion-item>
                <ion-item-options side="start">
                  <ion-item-option mode="ios" color="secondary">
                    <ion-icon slot="top" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
                    Detalles
                  </ion-item-option>
                </ion-item-options>
            
                <ion-item-options side="end" color="tertiary">
                  <ion-item-option mode="ios" color="secondary"> 
                    <ion-icon slot="top" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
                    Agregar al carrito 
                  </ion-item-option>
                </ion-item-options>
              </ion-item-sliding>

              <ion-item-sliding>
                <ion-item>
                  <ion-avatar>
                    <img src="../../../assets/img/buscar_asesor.svg" />
                  </ion-avatar>
                  <ion-label>Pokémon Yellow</ion-label>
                </ion-item>
                <ion-item-options side="start">
                  <ion-item-option mode="ios" color="secondary">
                    <ion-icon slot="top" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
                    Detalles
                  </ion-item-option>
                </ion-item-options>
            
                <ion-item-options side="end" color="tertiary">
                  <ion-item-option mode="ios" color="secondary"> 
                    <ion-icon slot="top" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
                    Agregar al carrito 
                  </ion-item-option>
                </ion-item-options>
              </ion-item-sliding>

              <ion-item-sliding>
              <ion-item>
                <ion-label>Mega Man X</ion-label>
              </ion-item>
                <ion-item-options side="start">
                  <ion-item-option mode="ios" color="secondary">
                    <ion-icon slot="top" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
                    Detalles
                  </ion-item-option>
                </ion-item-options>
            
                <ion-item-options side="end" color="tertiary">
                  <ion-item-option mode="ios" color="secondary"> 
                    <ion-icon slot="top" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
                    Agregar al carrito 
                  </ion-item-option>
                </ion-item-options>
              </ion-item-sliding>

              <ion-item-sliding>
                <ion-item>
                  <ion-avatar>
                    <img src="../../../assets/img/buscar_asesor.svg" />
                  </ion-avatar>
                  <ion-label>Super Mario World</ion-label>
                </ion-item>
                <ion-item-options side="start">
                  <ion-item-option mode="ios" color="tertiary">
                    <ion-icon slot="top" mode="ios" name="information-circle-outline"></ion-icon>
                    Detalles
                  </ion-item-option>
                </ion-item-options>
            
                <ion-item-options side="end">
                  <ion-item-option mode="ios" color="tertiary"> 
                    <ion-icon slot="top" mode="ios" name="add-outline"></ion-icon>
                    Agregar al carrito 
                  </ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
            </ion-list>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
