<ion-header color="secondary" mode="ios">
  <ion-toolbar color="secondary" mode="ios" class="ion-text-center">
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <h3>Filtro por</h3>
          <ion-segment value="proovedor" (ionChange)="ordenarProductos($event)">
            <ion-segment-button value="proovedor">
              <ion-label>Pizza</ion-label>
            </ion-segment-button>
            <ion-segment-button value="producto">
              <ion-label>Pasta</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
