<ion-header mode="ios" color="secondary">
  <ion-toolbar mode="ios" class="ion-text-center" color="secondary">
    <ion-title>Afecciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-searchbar color="secondary" mode="ios" animated></ion-searchbar>
  <ion-list color="light">
    <ion-item *ngFor="let afeccion of afecciones" color="light" (click)="onClick(afeccion)">
      <ion-label>{{afeccion.nombre}}</ion-label>
      <ion-label color="tertiary"><small>{{afeccion.nombreTecnico}}</small></ion-label>
      <ion-icon name="chevron-forward" slot="end" color="secondary"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
