<ion-content >
  <div class="container">
    <picture class="logo">
      <img src="../../assets/icon/agro_logo.png" alt="logo_de_agrolazc" class="logo__img">
    </picture>

    <div class="buttons">
      <ion-button (click)="register()">
        <ion-icon name="pencil"></ion-icon>
        Registrarme
      </ion-button>
      <ion-button (click)="login()">
        <ion-icon name="log-in"></ion-icon>
        Ingresar
      </ion-button>
      <ion-button (click)="salir()">
        <ion-icon name="exit"></ion-icon>
        Salir
      </ion-button>
    </div>
  </div>
</ion-content>
