*{
    //border: 1px solid;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #006539, #167043, #267c4e, #338859, #409464) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 90%;
    height: auto;
    margin-top: 10%;
}

.logo img {
    width: 100%;
    height: 100%;
}

.buttons{
    width: 90%;
    height: 65vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.buttons ion-button{
    width: 100%;
    --background: #409464;
    --border-color: #f2f2f2;
    --border-radius: 10px;
    color: #ffc245;
}

.buttons ion-button ion-icon{
    margin: 0 5px 0 0;
}
