.container{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #006539, #167043, #267c4e, #338859, #409464) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Exo 2', sans-serif !important;
    padding: 10px;
    font-weight: bold;
}

.container .logo{
    width: 100%;
    height: auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.logo_img{
    height: 150px;
}

.container .form_container{
    width: 100%;
    height: 70vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container .form_container h2 {
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.container .form_container form{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
}

.container .form_container form ion-item{
    width: 100%;
    padding: 10px;
}
.form_container form ion-item ion-icon{
    margin: 0 10px;
}
.login__link{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 40%;
    width: 100%;
    padding: 10px;
}

.login__link ion-button{
    width: 100%;
}

.login__link a{
    color: #ffc245;
    position: absolute;
    right: 10%;
    top: 90%;
}

ion-footer{
    background: #409464;
    padding: 10px;
    width: 100%;
    height: 15%;
}

ion-footer ion-text {
    width: 100%;
    height: 100%;
    text-align: center;
}

ion-footer ion-text small a{
    color: #ffc245;
}